@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --links-rgb: 37, 99, 235;
  --background-menus-rgb: 233, 250, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

@layer base {
  html {
    font-family: 'Open Sans', 'Alice', system-ui;
    font-size: 18px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  line-height: 1.5rem;
}

main p {
  padding-top: 0.8rem;
}

main, .site-header {
  @apply px-6 md:px-12 pt-5;
}

footer {
  background-color: rgb(var(--background-menus-rgb));
}

h1, h2, h3, .h1, .h2, .h3 {
  @apply text-black;
  font-weight: 400;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: 'Alice', 'Open Sans';
}

h1, .h1 {
  font-size: 4.9rem;
  line-height: 4.9rem;
}

h2, .h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.17rem;
}

h3, .h3 {
  font-size: 2.3rem;
}

h4, .h4 {
  font-size: 1.77rem;
}

h5, .h5 {
  font-size: 1.33rem;
  letter-spacing: 0.07rem;
}

a {
  cursor: pointer;
  color: rgb(var(--links-rgb));
}

a:not(.no-underline):hover {
  text-decoration: underline;
}

button {
  color: rgb(var(--foreground-rgb));
  text-decoration: none;
}

/* NavBar */
nav li > a {
  color: rgb(var(--foreground-rgb));
}

nav li > a:hover {
  text-decoration: none;
}

.horizontal-menu > li {
  font-family: 'Open Sans';
  font-size: 1.25rem;
  letter-spacing: 0;
  font-weight: 400;
  margin-left: 35px;
  line-height: 1.75rem;
  text-align: center;
}

.horizontal-menu > li:first-child {
  margin-left: 0px;
}

.vertical-menu
{
  background-color: rgb(var(--background-menus-rgb));
}