@import url('https://fonts.googleapis.com/css2?family=Alice&family=Open+Sans:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

@layer base {
  html {
    font-family: 'Open Sans', 'Alice', system-ui;
    font-size: 18px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main, header, container {
  @apply pl-10 pr-10 pt-5;
}

footer {
  background-color: #E9FAFF;
  ;
}

h1, h2, h3 {
  @apply text-black;
  font-weight: 400;
}

h1 {
  font-family: 'Alice', 'Open Sans';
  font-size: 4.9rem;
  line-height: 4.9rem;
}

h2 {
  font-family: 'Alice', 'Open Sans';
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: 0.17rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.77rem;
}

h5 {
  font-size: 1.33rem;
  letter-spacing: 0.07rem;
}

/* NavBar */
.header-nav > li {
  @apply font-sans text-xl ml-[42px] font-normal;
}