@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

/* @layer base {
  html {
    font-family: Open Sans, system-ui, sans-serif;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply pl-10 pr-10 pt-5;
}

h1, h2, h3 {
  @apply font-headers text-black;
  font-weight: 400;
}

h1 {
  font-size: 4.88889rem;
  line-height: 4.88889rem;
}

h2 {
  font-size: 3.55556rem;
  line-height: 3.55556rem;
  letter-spacing: 0.17778rem;
}

h3 {
  font-size: 2.33333rem;
}

h4 {
  font-size: 1.77778rem;
}

h5 {
  font-size: 1.33333rem;
  letter-spacing: 0.06667rem;
}

/* NavBar */
.header-nav > li {
  @apply font-sans text-xl ml-[42px] font-normal;
}